body{
    background-color: #b3e6ff;
}

#questionAndAnswerDivs{
    float: left;
    width: 90%;
}
#AnswerAnimationsDiv{
    height: 72vh;
    background-color: #b3e6ff;
}
#QuestionDiv{
    height: 20vh;
    text-align: center;
	font-family:"Comic Sans MS", cursive, sans-serif;
    background-color: #e6ffe6;
	border-radius: 10px;
	color:#004d4d;
}
#questionCanvas{
    height: 20vh;
    width: 100%;
}
#resultDiv{
    background-color: #ffe6ff;
    height: 64vh;
    width: 10%;
    margin-left: 90%;
	border-radius: 10px;
	font-family:"Comic Sans MS", cursive, sans-serif;
}
#question{
    color: #801772;
    text-align: center;
}

.backbutton {
  font-family:fantasy, cursive, Serif;
  font-size: medium;
  color: blue;
  }

div.a {
    width: 100px;
    height:100px;
    position:fixed;
    cursor: move;
}
div.b {
    width: 100px;
    height:100px;
    position:fixed;
    cursor: move;
}
div.c {
    width: 100px;
    height:100px;
    position:fixed;
    cursor: move;
}

div.d {
    width: 100px;
    height:100px;
    position:fixed;
    cursor: move;
}

#scores{
    margin-top: 0vh;
    margin-left: 0px;
    height: 64vh;
    width: 100%;
	text-align: center;
	color:#4d0019;
}

#basket{
    margin-top: 10px;
    margin-left: 0px;
    height: 20vh;
    width: 100%;
}
