body{
  background-color: #b3e6ff;
}
.header{
	/*border:5px solid black;*/
	text-align:center;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:xx-large;
}
.intro{
	text-align:center;
	font-family:"Comic Sans MS", cursive, sans-serif;
}
#user{
    float: right;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
.content{
	/*border:5px solid red;*/
	height : 80%;
}
.footer{
	/*border:5px solid blue;*/
	height : 3%;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.floating {
  /* The animation’s duration */
  animation-duration: 5000ms;
  /* The number of times we want the animation to run */
  animation-iteration-count: infinite;
  width: 19%;
  height : auto;
}
#help1{
	display: none;
	width: 15%;
	position: absolute;
	border: 3px solid #73AD21;
	background-color: #b3e6ff;
	opacity: 0.9;
	left: 35%;
    top: 30%;
	z-index:1;
}
#help2{
	display: none;
	width: 15%;
	position: absolute;
	border: 3px solid #73AD21;
	background-color: #b3e6ff;
	opacity: 0.9;
	left: 75%;
    top: 40%;
	z-index:1;
}
#a1:hover  + #help1{
	display: block;
}
#B1:hover {
	opacity: 0.5;
}
#a2:hover  + #help2{
	display: block;
}
#B2:hover {
	opacity: 0.5;
}
#B1{	animation-name: movingB1;}
@keyframes movingB1 {
  0% {transform: translate(0%, 5%);}
  50% {transform: translate(0%, 15%);}
  100% {transform: translate(0%, 5%);}
}
#B2{	animation-name: movingB2;}
@keyframes movingB2 {
  0% {    transform: translate(0%, 20%);}
  50% {    transform: translate(0%, 10%);}
  100% {    transform: translate(0%, 20%);}
}
#C1{	animation-name: movingC1;}
@keyframes movingC1 {
  0% {    transform: translate(0%, -100px);
    opacity: 1;
  }
  50% {
    transform: translate(0%, 10px);
    opacity: 0.9;
  }
  100% {
    transform: translate(0%, -100px);
    opacity: 1;
  }
}
#C2{	animation-name: movingC2;}
@keyframes movingC2 {
  0% {
    transform: translate(3%, 2%);
    opacity: 0.8;
  }
  50% {
    transform: translate(3%, 30%);
    opacity: 1;
  }
  100% {
    transform: translate(3%, 2%);
    opacity: 0.8;
  }
}
#C3{	animation-name: movingC3;}
@keyframes movingC3 {
  0% {
    transform: translate(3%, -50px);
    opacity: 1;
  }
  50% {
    transform: translate(3%, -200px);
    opacity: 0.85;
  }
  100% {
    transform: translate(3%, -50px);
    opacity: 1;
  }
}