body{
    background-color: #b3e6ff;
}

#questionAndAnswerDivs{
    float: left;
    width: 90%;
}

#AnswerAnimationsDiv{
    height: 73vh;
    background-color: #b3e6ff;
}

#QuestionDiv{
    height: 20vh;
    background-color: #e6ffe6;
	border-radius: 10px 0px 0px 10px;
	text-align: center;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:#004d4d;
}

#questionCanvas{
    height: 20vh;
    width: 100%;
}

#resultDiv{
    background-color: #ffe6ff;
    height: 90vh;
    width: 10%;
    margin-left: 90%;
	border-radius: 10px 10px 10px 0px;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

#question{
    text-align: center;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:#801772;
}


div.a {
    width: 100px;
    height:100px;
    position:fixed;
    cursor: move;
}
div.b {
    width: 100px;
    height:100px;
    position:fixed;
    cursor: move;
}
div.c {
    width: 100px;
    height:100px;
    position:fixed;
    cursor: move;
}

div.d {
    width: 100px;
    height:100px;
    position:fixed;
    cursor: move;
}

#scores{
    margin-top: 0vh;
    margin-left: 0px;
    height: 90vh;
    width: 100%;
	text-align: center;
	color:#4d0019;
}

.flip3D{
    width: 240px;
    height:200px;
    margin: 3% 0% 0% 3%;
    float: left;
}

.flip3D > .front{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    background: #fff2e6;
	border: 5px solid #ffb366;
    width: 240px;
    height: 200px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip3D > .back{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background: #e6e6ff;
	border: 5px solid #8080ff;
    width: 240px;
    height: 200px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip3D:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.flip3D:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}